.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.calculator {
  border: 2px solid rgb(0, 0, 0);

  height:45vh;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
}

.screen {
  border: 2px solid rgb(78, 76, 76);

  margin: 8px;
  margin-bottom: 15px;
  height: 8vh;
  padding-right: 2rem;


  text-align: right;
 font-size: 55px;
}

.off-screen {
  /* border: 2px solid orange; */

  padding: 10px;
  /* margin: 8px; */

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}

.button {
  background-color: coral;
  height: 50px;
  border-radius: 100px;

  cursor: pointer;
}

.button:hover {
  background-color: rgb(255, 137, 95);
  height: 50px;
  border-radius: 100px;
}

.q0 {
  grid-column-start: 1;
  grid-column-end: 3;

}
